<!DOCTYPE html>
<html>
<head>
  <title>Navigation Bar</title>
  <link rel="stylesheet" href="../static/css/style.css"/>
  <link rel="stylesheet" href="../static/css/swiper-bundle.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
  <!-- Navbar starts here -->
  <div class="navbar">
    <div class="navbar-logo">
        <a href="home2.html" class="logo-link">
            <img src="../images/logo.jpg" alt="PetitionWave Logo" class="logo-image">
            <span class="logo-text">Voice<b>Wave</b></span>
        </a>
    </div>

    <div class="navbar-option">
        <a href="browse.html" class="navbar-item">Browse</a>
        <a href="post_select.html" class="navbar-item">Post</a>
        <a href="news_select.html" class="navbar-item">News & Stories</a>
        <a href="profile.html" class="navbar-item">Profile</a>
    </div>
  </div>
  <!-- Navbar ends here -->

  <!-- First slide image -->
  <div class="first-container">
    <img id="dynamic-image" src="../images/zebra.jpg" alt="Description of your image">
    <div class="text-overlay">
        Every Signature Counts
        <br>
        Every Voice Counts
        <br>
        <a href="link_to_petition" class="screen_button" role="button">SIGN A PETITION NOW</a>
    </div>
  </div>
  <!-- First slide image -->


  <div style="text-align: center; margin-top: 50px; margin-bottom: -60px;">
    <h2>Top petitions this week</h2>
  </div>  
  

  <!-- Petition cards start here -->
  <div class="container swiper">
    <div class="slide-container">
      <div class="card-wrapper swiper-wrapper">
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../images/images/showImg/appDev.jpg" alt="" />
          </div>
          <div class="profile-details">
            <img src="../images/images/profile/profile1.jpg" alt="" />
            <div class="name-job">
              <h3 class="name">David Cardlos</h3>
              <h4 class="job">Full Stack Developer</h4>
            </div>
          </div>
        </div>

        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../images/images/showImg/photographer.jpg" alt="" />
          </div>
          <div class="profile-details">
            <img src="../images/images/profile/profile1.jpg" alt="" />
            <div class="name-job">
              <h3 class="name">Siliana Ramis</h3>
              <h4 class="job">Photographer</h4>
            </div>
          </div>
        </div>
        
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../images/images/showImg/dataAna.jpg" alt="" />
          </div>
          <div class="profile-details">
            <img src="../images/images/profile/profile1.jpg" alt="" />
            <div class="name-job">
              <h3 class="name">Richard Bond</h3>
              <h4 class="job">Data Analyst</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../images/images/showImg/appDev.jpg" alt="" />
          </div>
          <div class="profile-details">
            <img src="../images/images/profile/profile1.jpg" alt="" />
            <div class="name-job">
              <h3 class="name">Priase</h3>
              <h4 class="job">App Developer</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../images/images/showImg/blogger.jpg" alt="" />
          </div>
          <div class="profile-details">
            <img src="../images/images/profile/profile1.jpg" alt="" />
            <div class="name-job">
              <h3 class="name">James Laze</h3>
              <h4 class="job">Blogger</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- Petition cards end here -->

  <div style="text-align: center; margin-top: 10px;">
    <h2>Top categories </h2>
  </div> 

  <div class="category-container">
    <div class="category-item">
        <span class="category-label">Environment</span>
    </div>
    <div class="category-item">
        <span class="category-label">Human Rights</span>
    </div>
    <div class="category-item">
        <span class="category-label">Healthcare</span>
    </div>
    <div class="category-item">
        <span class="category-label">Education</span>
    </div>
    <!-- Add more category boxes as needed -->
  </div>
  

  <br>
  <br>


  <div style="text-align: center; margin-top: 50px; margin-bottom: -60px;">
    <h2>Trending news</h2>
  </div>  
  

  <!-- Petition cards start here -->
  <div class="container swiper">
    <div class="slide-container">
      <div class="card-wrapper swiper-wrapper">
        
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../images/images/showImg/fullDev.jpg" alt="" />
          </div>
          <div class="profile-details">
            <img src="../images/images/profile/profile1.jpg" alt="" />
            <div class="name-job">
              <h3 class="name">David Cardlos</h3>
              <h4 class="job">Full Stack Developer</h4>
            </div>
          </div>
        </div>

        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../images/images/showImg/photographer.jpg" alt="" />
          </div>
          <div class="profile-details">
            <img src="../images/images/profile/profile2.jpg" alt="" />
            <div class="name-job">
              <h3 class="name">Siliana Ramis</h3>
              <h4 class="job">Photographer</h4>
            </div>
          </div>
        </div>
        
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../images/images/showImg/dataAna.jpg" alt="" />
          </div>
          <div class="profile-details">
            <img src="../images/images/profile/profile3.jpg" alt="" />
            <div class="name-job">
              <h3 class="name">Richard Bond</h3>
              <h4 class="job">Data Analyst</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../images/images/showImg/appDev.jpg" alt="" />
          </div>
          <div class="profile-details">
            <img src="../images/images/profile/profile4.jpg" alt="" />
            <div class="name-job">
              <h3 class="name">Priase</h3>
              <h4 class="job">App Developer</h4>
            </div>
          </div>
        </div>
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../images/images/showImg/blogger.jpg" alt="" />
          </div>
          <div class="profile-details">
            <img src="../images/images/profile/profile5.jpg" alt="" />
            <div class="name-job">
              <h3 class="name">James Laze</h3>
              <h4 class="job">Blogger</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- Petition cards end here -->
  <br>
  <br>


  <footer class="footer">
    <div class="footer-container">
       <div class="footer-row">
           <div class="footer-col">
               <h4>company</h4>
               <ul>
                   <li><a href="#">about us</a></li>
                   <li><a href="#">our services</a></li>
                   <li><a href="#">privacy policy</a></li>
                   <li><a href="#">affiliate program</a></li>
               </ul>
           </div>
           <!-- <div class="footer-col">
               <h4>online shop</h4>
               <ul>
                   <li><a href="#">watch</a></li>
                   <li><a href="#">bag</a></li>
                   <li><a href="#">shoes</a></li>
                   <li><a href="#">dress</a></li>
               </ul>
           </div> -->
           <div class="footer-col">
               <h4>follow us</h4>
               <div class="social-links">
                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                   <a href="#"><i class="fab fa-twitter"></i></a>
                   <a href="#"><i class="fab fa-instagram"></i></a>
                   <a href="#"><i class="fab fa-linkedin-in"></i></a>
               </div>
           </div>
       </div>
    </div>
 </footer>

  <script src="../static/js/swiper-bundle.min.js"></script>
  <script src="../static/js/script.js"></script>


</body>
</html>




