<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
  <div class="main-box">
    <div class="logo">
      <img src="../images/logo.jpg" alt="Logo Image"> <!-- Example image -->
      <h1>VoiceWave</h1>
    </div>
    <div class="login-info">
      <h2>Log In</h2>
      <form>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <div class="create-account">Don't have an account? <a href="Signin.html">Create one!</a></div>
        <div class="button-container">
          <button>Back</button>
          <input type="submit" value="Log In">
        </div>
      </form>
    </div>
  </div>
</body>
</html>













