<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Page</title>
    <link rel="stylesheet" href="../static/css/news_style.css"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="image-container">
        <a href="news.html" class="hover-effect">
            <img src="../images/reporter.jpg" alt="Image 1">
            <div class="overlay">News</div>
        </a>
        <a href="storybrowse.html" class="hover-effect">
            <img src="../images/victory.jpg" alt="Image 2">
            <div class="overlay">Stories</div>
        </a>
    </div>
</body>
</html>


