<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Page</title>
    <link rel="stylesheet" href="../static/css/news_style.css"> <!-- Link to your CSS file -->
    <style>
        .overlay{
            font-size: 150px;
        }
    </style>
</head>
<body>
    <div class="image-container">
        <a href="petition_form.html" class="hover-effect">
            <img src="../images/petition.jpg" alt="Image 1">
            <div class="overlay">Make a petition</div>
        </a>
        <a href="storyform.html" class="hover-effect">
            <img src="../images/typing.jpg" alt="Image 2">
            <div class="overlay">Post your story</div>
        </a>
    </div>
</body>
</html>