<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/petitionview.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=662f4bdb40fad400197773c4&product=inline-share-buttons&source=platform" async="async"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="home2.html" class="logo-link">
                <img src="../images/logo.jpg" alt="PetitionWave Logo" class="logo-image">
                <span class="logo-text">Voice<b>Wave</b></span>
            </a>
        </div>
    
        <div class="navbar-option">
            <a href="browse.html" class="navbar-item">Browse</a>
            <a href="post_select.html" class="navbar-item">Post</a>
            <a href="news_select.html" class="navbar-item">News & Stories</a>
            <a href="profile.html" class="navbar-item">Profile</a>
        </div>
    </div>

    <div class="main-view-page">
        <div class="main-content-page">
            <div class="main-petition-title">
                <h1>Title</h1>
                <hr>
            </div>
            <div class="main-petition-info">
                <h3>Posted by User</h3>
                <p>Posted on: </p>
                <p>Location: </p>
                <br>

                <h2>Before Situation ... </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aspernatur, placeat suscipit quis deleniti alias reprehenderit expedita numquam non, incidunt, quo labore rem assumenda temporibus quia laboriosam ipsa unde voluptates.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus at sit et necessitatibus ducimus facilis adipisci porro officiis quae dolor cum mollitia placeat vero nam, nulla, dolore cumque. Quis, fugit!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos optio veritatis voluptates neque voluptatibus, nisi quaerat! Pariatur expedita, repudiandae rem accusamus quidem itaque vitae quis ullam, dicta, delectus magnam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempore porro eius tenetur impedit recusandae eum eveniet perspiciatis necessitatibus? Enim aliquam delectus praesentium quasi, aliquid provident voluptates nisi neque fuga.</p>
                

                <h2>Our Struggle & Success</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero nobis voluptates corporis recusandae placeat, fugiat cum velit, quae quis corrupti facere. Neque, unde. Pariatur velit illum, aliquam repudiandae optio magni!</p>

                <br>
                <hr>
            </div>
   
            
            <div class="main-insight-section">
                <h2>Share the Post </h2>
                <div class="sharethis-inline-share-buttons"></div>
                <hr>
            </div>

            <div class="main-comment-section">
                <h2>Comments</h2>
                <form class="comment-box" method="" action="">
                    <textarea name="post" placeholder="Write your post here..."></textarea>
                    <button type="submit" class="post-button">Post</button>
                </form>                
                <div class="comment-user-box">
                    <div class="comment-image">
                        <img src="../images/search2.jpg">
                    </div>
                    <div class="comment-text">
                        <p class="posted-date">Posted on: April 8, 2024</p>
                        <p class="user-name">John Doe</p>
                        <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et libero vel turpis volutpat interdum. Proin accumsan nisi in orci feugiat, sit amet vestibulum lorem tempor.</p>
                    </div>
                </div>
                <div class="comment-user-box">
                    <div class="comment-image">
                        <img src="../images/search2.jpg">
                    </div>
                    <div class="comment-text">
                        <p class="posted-date">Posted on: April 8, 2024</p>
                        <p class="user-name">John Doe</p>
                        <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et libero vel turpis volutpat interdum. Proin accumsan nisi in orci feugiat, sit amet vestibulum lorem tempor.</p>
                    </div>
                </div>
                <div class="comment-user-box">
                    <div class="comment-image">
                        <img src="../images/search2.jpg">
                    </div>
                    <div class="comment-text">
                        <p class="posted-date">Posted on: April 8, 2024</p>
                        <p class="user-name">John Doe</p>
                        <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et libero vel turpis volutpat interdum. Proin accumsan nisi in orci feugiat, sit amet vestibulum lorem tempor.</p>
                    </div>
                </div>
            </div>            
        </div>
        <div class="image-content-page">
            <div class="image-petition-box">
                <img src="../images/search.jpg" alt="">
            </div>
            <div class="image-petition-box">
                <img src="../images/search.jpg" alt="">
            </div>
            <div class="image-petition-box">
                <img src="../images/search.jpg" alt="">
            </div>
        </div>
    </div>
   

    <footer class="footer">
        <div class="footer-container">
           <div class="footer-row">
               <div class="footer-col">
                   <h4>company</h4>
                   <ul>
                       <li><a href="#">about us</a></li>
                       <li><a href="#">our services</a></li>
                       <li><a href="#">privacy policy</a></li>
                       <li><a href="#">affiliate program</a></li>
                   </ul>
               </div>
               <div class="footer-col">
                   <h4>follow us</h4>
                   <div class="social-links">
                       <a href="#"><i class="fab fa-facebook-f"></i></a>
                       <a href="#"><i class="fab fa-twitter"></i></a>
                       <a href="#"><i class="fab fa-instagram"></i></a>
                       <a href="#"><i class="fab fa-linkedin-in"></i></a>
                   </div>
               </div>
           </div>
        </div>
     </footer>


    
</body>
</html>